**/.*
.*/
images/*.gif
examples/
images/yang-diagram.png
yang-language-server.zip
releasing.md
**/node_modules/
**/tsconfig.json
**/lerna.json
**/webpack.config.js
**/tslint.json
**/yarn.lock
**/yarn-error.log
